/*белый #ffffff; */
/*цвет фона #2F303A; */
/*акцент #2196F3; */
/* прозрачный color: rgba(255, 255, 255, 0.6);*/

:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --acent-color: #2196f3;
  --basic-white-color: #ffffff;
  --primary-background-color: #2f303a;
  --batton-background-color: #f5f4fa;
  --border-color: #ececec;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--basic-white-color);
}

img {
  display: block;
}

ul,
p,
h3 {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.main-nav {
  display: flex;
  align-items: center;
}

header {
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
  border-bottom-width: 1px;
}

/*--------Шапка--------*/

.site-nav {
  margin-left: 93px;
}

.list-nav {
  display: flex;
}

.icon-tell {
  width: 16px;
  height: 12px;
}
.icon-mail {
  width: 16px;
  height: 12px;
}

.list-nav .item + .item {
  margin-left: 50px;
}

.auth-nav .nav-item + .nav-item {
  margin-left: 50px;
}

.nav-item {
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--acent-color);
}
.part-dark {
  color: #1f1f1f;
}
.part-ligt {
  color: var(--basic-white-color);
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.nav-link:hover,
:focus {
  color: var(--acent-color);
}
.nav-link.current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--acent-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}
.header-link:hover,
:focus {
  color: var(--acent-color);
}

/*--------Герой--------*/

.section-hero {
  width: 1600px;
  height: 600px;
  background-color: var(--primary-background-color);
  background-image: url(../images/background-image.jpg);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--basic-white-color);
  padding: 0;
  margin: auto;
  margin-bottom: 30px;
  width: 696px;
}

.button {
  display: inline-block;
  font-family: inherit;
  background-color: var(--acent-color);
  color: var(--basic-white-color);
  cursor: pointer;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
button:hover,
:focus {
  background-color: #188ce8;
}

/* кнопки портфолио */

.filtre-button {
  font-family: inherit;
  background-color: var(--batton-background-color);
  cursor: pointer;
  background: #f5f4fa;
  padding: 6px 22px;
  border: none;
}
.filtre-button:hover,
:focus {
  color: var(--basic-white-color);
  background-color: var(--acent-color);
}
.pointer {
  color: var(--basic-white-color);
  background-color: var(--acent-color);
}

/*карточки портфолио */

.site-filtre {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.site-filtre .other + .other {
  margin-left: 8px;
}

.previev {
  display: flex;
  flex-wrap: wrap;
}
.previev-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.previev-element:nth-child(3n) {
  margin-right: 0;
}

.previev-element:nth-child(n + 7) {
  margin-bottom: 0;
}

.filtre-element {
  padding: 20px 24px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
  border-bottom-width: 1px;
  border-right-style: solid;
  border-right-color: var(--border-color);
  border-right-width: 1px;
  border-left-style: solid;
  border-left-color: var(--border-color);
  border-left-width: 1px;
}

.products {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}
.description {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*--------Особенности--------*/

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
  padding: 0;
}

.features-title:before {
  display: block;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-antenna::before {
  background-image: url(../images/antenna\ 1.svg);
}

.icon-clock::before {
  background-image: url(../images/clock\ 1.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram\ 1.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut\ 1.svg);
}

.feature-list {
  display: flex;
}

.feature-list .feature-item {
  width: 270px;
}

.feature-list .feature-item + .feature-item {
  margin-left: 30px;
}

.features,
.p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.feature-item {
  text-align: center;
}

/*--------Чем мы занимаемся--------*/

.section-work {
  padding-bottom: 94px;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 50px;
  padding: 0;
}

.filtre-link {
  text-decoration: none;
}

.work-list {
  display: flex;
}
.work-list .item + .item {
  margin-left: 30px;
}

/*--------Наша команда--------*/

.team {
  background-color: var(--batton-background-color);
}

.team-photo {
  margin-top: 0;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 50px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;
}
.team-profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-list {
  display: flex;
}

.team-list .item + .item {
  margin-left: 30px;
}
.team-elements {
  padding-top: 30px;
  padding-bottom: 30px;
}

.item {
  background-color: var(--basic-white-color);
}

/*--------Подвал--------*/

footer {
  background-color: var(--primary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.google-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--basic-white-color);
  text-decoration: none;
}
.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address-list li {
  display: block;
  margin-bottom: 9px;
}

.address-list :last-child {
  margin-bottom: 0;
}
address {
  margin-top: 20px;
}
